.ca-create-resource {
  @apply min-h-screen py-14 px-6 flex flex-col gap-6 bg-white text-[#191919] dark:bg-[#191919] dark:text-white;

  .resource-page {
    @apply flex flex-col gap-2;

    label {
      @apply text-sm font-medium text-[#6B7280] dark:text-[#B6B3C5];
    }

    input,
    textarea,
    select {
      @apply w-full p-3 border border-gray-300 rounded-lg bg-white text-[#191919] dark:bg-[#25272D] dark:text-white;
    }

    textarea {
      @apply min-h-40 resize-none rounded-3xl;
    }
  }

  .main-img,
  .main-desc,
  .featured-image,
  .featured-file {
    @apply flex flex-col gap-2;

    label {
      @apply text-sm font-medium text-[#6B7280] dark:text-[#B6B3C5];
    }
  }

  .cate-tags {
    @apply flex gap-2;

    .cate,
    .tags {
      @apply flex-1 flex flex-col gap-2;

      select,
      input {
        @apply w-full p-3 rounded-full bg-white text-[#191919] dark:bg-[#25272D] dark:text-white;
      }

      select {
        @apply appearance-none border border-gray-300;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8' viewBox='0 0 14 8' fill='none'%3E%3Cpath d='M13 1.00005C13 1.00005 8.5811 7 7 7C5.4188 7 1 1 1 1' stroke='%23707786' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 20px center;
        background-size: 14px 8px;
      }
    }
  }

  .resource-title,
  .resource-description {
    @apply flex flex-col gap-2;

    input,
    textarea {
      @apply w-full p-3 border border-gray-300 rounded-lg bg-white text-[#191919] dark:bg-[#25272D] dark:text-white;
    }

    textarea {
      @apply resize-none rounded-2xl;
    }

    label {
      @apply text-sm font-medium text-[#6B7280] dark:text-[#B6B3C5];
    }
  }

  .btn {
    @apply flex gap-4;

    .resource-btn {
      @apply flex-1 bg-gradient-to-r from-purple-500 to-pink-500 rounded-full py-3 cursor-pointer text-white;
    }
  }
}
